<div class="min-h-screen flex flex-col bg-gray-950 text-white">
  <header class="text-center py-10">
    <h1 class="text-4xl font-bold">Memory Drawer</h1>
    <p class="text-gray-400 mt-2">Your Personal Media Tracker</p>

    <!-- Align Search Bar to Right -->
    <input
      type="text"
      class="bg-gray-800 text-white rounded-md mt-5 px-4 py-2 w-64"
      placeholder="Search all items..."
      [(ngModel)]="searchQuery"
      (input)="searchUserItems()"
    />
  </header>

  <!-- categories -->
  <section class="flex justify-center gap-6 overflow-x-auto px-4 pb-6">
    <ng-container
      *ngFor="
        let category of [
          { type: 'recentlyAdded', img: firstRecentlyAddedImageUrl },
          { type: 'movies', img: firstMovieImageUrl },
          { type: 'books', img: firstBookImageUrl },
          { type: 'albums', img: firstAlbumImageUrl },
          { type: 'games', img: firstGameImageUrl }
        ]
      "
    >
      <div
        *ngIf="category.img"
        class="relative w-32 h-44 rounded-lg overflow-hidden shadow-lg hover:scale-105 transition-transform cursor-pointer bg-gray-800 flex items-center justify-center"
        (click)="setActiveList(category.type)"
      >
        <img [src]="category.img" class="w-full h-full object-cover" />
        <div
          class="absolute inset-0 bg-black bg-opacity-40 opacity-0 hover:opacity-80 flex items-center justify-center transition-opacity"
        >
          <span class="text-white text-lg font-bold capitalize">{{
            category.type === "recentlyAdded" ? "Recent" : category.type
          }}</span>
        </div>
      </div>
    </ng-container>
  </section>

  <!-- lists -->
  <section class="max-w-5xl w-full mx-auto px-8 mt-8">
    <!-- Search Results -->
    <section *ngIf="isSearching" class="max-w-5xl w-full mx-auto px-8 mt-8">
      <h2 class="text-xl font-semibold mb-4">Search Results</h2>

      <!-- display res -->
      <div
        *ngIf="filteredItems.length > 0; else noResults"
        class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-5 gap-6"
      >
        <div
          *ngFor="let item of filteredItems"
          class="relative rounded-lg overflow-hidden"
        >
          <button
            class="absolute top-2 right-2 bg-red-500 text-white rounded-full px-2 py-1 text-xs"
            (click)="removeItemFromList(item, item.type)"
          >
            ✕
          </button>
          <img
            [src]="
              item.artwork ||
              item.posterPath ||
              'https://via.placeholder.com/150'
            "
            class="aspect-[2/3] object-cover w-full"
          />
          <p class="mt-2 text-sm font-medium truncate">{{ item.title }}</p>
        </div>
      </div>

      <!-- No Results Message -->
      <ng-template #noResults>
        <p class="text-gray-400 text-center mt-4">No results found.</p>
      </ng-template>
    </section>

    <!-- Recently Added Section -->
    <section *ngIf="showRecentlyAdded" class="mt-10">
      <h2 class="text-xl font-semibold mb-4">Recently Added</h2>
      <div class="flex flex-col gap-4">
        <div
          *ngFor="let item of recentlyAddedItems"
          class="flex items-center gap-4 bg-gray-800 p-4 rounded-lg shadow-md"
        >
          <img
            [src]="item.artwork || item.posterPath"
            class="w-20 h-28 rounded-md object-cover"
          />
          <div>
            <p class="text-gray-400 text-xs">{{ formatDate(item.addedAt) }}</p>
            <p class="text-lg font-medium">{{ item.title }}</p>
            <span
              class="text-xs text-white px-2 py-1 rounded bg-blue-600 capitalize"
            >
              {{ formatItemType(item.type) }}
            </span>
          </div>
          <button
            class="ml-auto bg-red-600 text-white px-3 py-1 text-xs rounded hover:bg-red-500 transition"
            (click)="removeItemFromList(item, item.type)"
          >
            Remove
          </button>
        </div>
      </div>
    </section>

    <!-- Movies List -->
    <div *ngIf="showMoviesList">
      <!-- Sort and Title -->
      <section class="flex mb-4 justify-between">
        <h2 class="text-xl font-semibold">Movies</h2>
        <div class="flex space-x-2">
          <h2 class="py-1">Sort by:</h2>
          <button
            class="rounded-2xl px-2 py-1 transition-all focus:outline-none focus:bg-gray-700"
            (click)="sortListBy('movies', 'rating')"
          >
            Rating
          </button>

          <button
            class="rounded-2xl px-2 py-1 transition-all focus:outline-none focus:bg-gray-700"
            (click)="sortListBy('movies', 'title')"
          >
            Title
          </button>

          <button
            class="rounded-2xl px-2 py-1 transition-all focus:outline-none focus:bg-gray-700"
            (click)="sortListBy('movies', 'added')"
          >
            Added
          </button>
        </div>
      </section>

      <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-5 gap-6">
        <div
          *ngFor="let movie of movies"
          class="relative rounded-lg overflow-hidden"
        >
          <button
            class="absolute top-2 right-2 bg-red-500 text-white rounded-full px-2 py-1 text-xs"
            (click)="removeItemFromList(movie, 'movies')"
          >
            ✕
          </button>

          <img
            [src]="getPosterUrl(movie.posterPath)"
            class="aspect-[2/3] object-cover w-full"
          />
          <p class="mt-2 text-sm font-medium truncate">{{ movie.title }}</p>

          <!-- Star Rating -->
          <div class="flex justify-center mt-1">
            <span
              *ngFor="let star of [1, 2, 3, 4, 5]"
              (click)="updateRating(movie, 'movies', star)"
              class="cursor-pointer text-xl"
              [class.text-yellow-400]="(movie.rating ?? 0) >= star"
              [class.text-gray-400]="(movie.rating ?? 0) < star"
            >
              ★
            </span>
          </div>
        </div>
      </div>
    </div>

    <!-- Books List -->
    <div *ngIf="showBooksList">
      <section class="flex mb-4 justify-between">
        <h2 class="text-xl font-semibold">Books</h2>
        <div class="flex space-x-2">
          <h2 class="py-1">Sort by:</h2>
          <button
            class="rounded-2xl px-2 py-1 transition-all focus:outline-none focus:bg-gray-700"
            (click)="sortListBy('books', 'rating')"
          >
            Rating
          </button>

          <button
            class="rounded-2xl px-2 py-1 transition-all focus:outline-none focus:bg-gray-700"
            (click)="sortListBy('books', 'title')"
          >
            Title
          </button>

          <button
            class="rounded-2xl px-2 py-1 transition-all focus:outline-none focus:bg-gray-700"
            (click)="sortListBy('books', 'added')"
          >
            Added
          </button>
        </div>
      </section>

      <!-- Books List -->
      <div class="grid grid-cols-5 gap-4">
        <div *ngFor="let book of books" class="relative">
          <button
            class="absolute top-2 right-2 bg-red-500 text-white rounded-full px-2 py-1 text-xs"
            (click)="removeItemFromList(book, 'books')"
          >
            ✕
          </button>
          <img
            [src]="book.artwork || 'https://via.placeholder.com/150'"
            class="aspect-[2/3] object-cover w-full rounded"
          />
          <p class="mt-2 text-sm font-medium truncate">{{ book.title }}</p>
          <p class="text-xs text-gray-400 truncate">{{ book.authors }}</p>

          <!-- Star Rating -->
          <div class="flex justify-center mt-1">
            <span
              *ngFor="let star of [1, 2, 3, 4, 5]"
              (click)="updateRating(book, 'books', star)"
              class="cursor-pointer text-xl"
              [class.text-yellow-400]="book.rating >= star"
              [class.text-gray-400]="book.rating < star"
            >
              ★
            </span>
          </div>
        </div>
      </div>
    </div>

    <!-- Albums List -->
    <div *ngIf="showAlbumsList">
      <section class="flex mb-4 justify-between">
        <h2 class="text-xl font-semibold">Albums</h2>
        <div class="flex space-x-2">
          <h2 class="py-1">Sort by:</h2>
          <button
            class="rounded-2xl px-2 py-1 transition-all focus:outline-none focus:bg-gray-700"
            (click)="sortListBy('albums', 'rating')"
          >
            Rating
          </button>

          <button
            class="rounded-2xl px-2 py-1 transition-all focus:outline-none focus:bg-gray-700"
            (click)="sortListBy('albums', 'title')"
          >
            Title
          </button>

          <button
            class="rounded-2xl px-2 py-1 transition-all focus:outline-none focus:bg-gray-700"
            (click)="sortListBy('albums', 'added')"
          >
            Added
          </button>
        </div>
      </section>

      <div class="grid grid-cols-5 gap-5">
        <div *ngFor="let album of albums" class="relative">
          <button
            class="absolute top-2 right-2 bg-red-500 text-white rounded-full px-2 py-1 text-xs"
            (click)="removeItemFromList(album, 'albums')"
          >
            ✕
          </button>
          <img
            [src]="album.artwork"
            class="aspect-square object-cover w-full rounded"
          />
          <p class="mt-2 text-sm font-medium truncate">{{ album.title }}</p>
          <p class="text-xs text-gray-400 truncate">{{ album.artist }}</p>

          <!-- Star Rating -->
          <div class="flex justify-center mt-1">
            <span
              *ngFor="let star of [1, 2, 3, 4, 5]"
              (click)="updateRating(album, 'music', star)"
              class="cursor-pointer text-xl"
              [class.text-yellow-400]="album.rating >= star"
              [class.text-gray-400]="album.rating < star"
            >
              ★
            </span>
          </div>
        </div>
      </div>
    </div>

    <!-- Games List -->
    <div *ngIf="showGamesList">
      <section class="flex mb-4 justify-between">
        <h2 class="text-xl font-semibold">Games</h2>
        <div class="flex space-x-2">
          <h2 class="py-1">Sort by:</h2>
          <button
            class="rounded-2xl px-2 py-1 transition-all focus:outline-none focus:bg-gray-700"
            (click)="sortListBy('games', 'rating')"
          >
            Rating
          </button>

          <button
            class="rounded-2xl px-2 py-1 transition-all focus:outline-none focus:bg-gray-700"
            (click)="sortListBy('games', 'title')"
          >
            Title
          </button>

          <button
            class="rounded-2xl px-2 py-1 transition-all focus:outline-none focus:bg-gray-700"
            (click)="sortListBy('games', 'added')"
          >
            Added
          </button>
        </div>
      </section>

      <div class="grid grid-cols-5 gap-5">
        <div *ngFor="let game of games" class="relative">
          <button
            class="absolute top-2 right-2 bg-red-500 text-white rounded-full px-2 py-1 text-xs"
            (click)="removeItemFromList(game, 'games')"
          >
            ✕
          </button>
          <img
            [src]="game.artwork"
            class="aspect-[3/4] object-cover w-full rounded"
          />
          <p class="mt-2 text-sm font-medium truncate">{{ game.title }}</p>

          <!-- Star Rating -->
          <div class="flex justify-center mt-1">
            <span
              *ngFor="let star of [1, 2, 3, 4, 5]"
              (click)="updateRating(game, 'games', star)"
              class="cursor-pointer text-xl"
              [class.text-yellow-400]="game.rating >= star"
              [class.text-gray-400]="game.rating < star"
            >
              ★
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- add item -->
  <button
    class="fixed bottom-8 right-8 bg-blue-500 hover:bg-blue-600 text-white font-semibold py-3 px-5 rounded-full shadow-xl transition duration-300"
    (click)="openModal()"
  >
    + Add Item
  </button>
</div>
